:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-color-button: #188ce8;
  --background-color: #ffffff;
  --banner-color: #2f303a;
  --section-color: #f5f4fa;
  --footer-color: #2f303a;
  --logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --boder-color: #ECECEC;
  --boder-color-portfolio: #EEEEEE;
  --boder-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* стиль сторінки */
body {
  width: 1600px;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}

.work.section {
  padding-top: 0;
  padding-bottom: 94px;
} 

/* логотип */
.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.web-logo {
  color: var(--accent-color);
}
.logo.footer {
  margin-bottom: 20px;
  padding: 0;
  color: var(--background-color);
}

/* списки */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Хеддер  */

.page-header{
   border-bottom: 1px solid var(--boder-color); 
}

/* навігація, контакти */
.main-nav{
  display: flex;
  align-items: center;
  
}

.site-nav .link,
.contacts .link {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav{
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child){
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;  

  color: var(--title-text-color);
}
.site-nav .current {
  color: var(--accent-color);
}

.contacts{
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child){
  margin-right: 50px;
}

.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;  

  color: var(--primary-text-color); 
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.contacts-footer .link:hover,
.contacts-footer .link:focus {
  color: var(--accent-color);
}

/* головна частина */
.main-part {
padding-top: 200px;
padding-bottom: 200px;
background-color: var(--banner-color); 
}
.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-button {
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--accent-color-button);
}

/* Секції - фон,текст */
.specifics-list{
  display: flex;
}

.specifics-item{
  width: 270px;
}

.specifics-item:not(:last-child){
  margin-right: 30px;
} 

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.title.hide{
  display: none;
}

.specifics-item .title-item {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.specifics-item p{
  margin-top: 0;
  margin-bottom: 0;
}

/* чим займаємося */
.list.work-list{
  display: flex;
  margin-top: 50px;
}

.work-list .item:not(:last-child){
  margin-right: 30px;
}

/* Наша команда */
.workers {
  background-color: var(--section-color);
}

.list.workers-list{
  display: flex;
}

.workers-item:not(:last-child){
  margin-right: 30px;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.card{
  
  box-shadow: var(--boder-shadow);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.card-content{
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--background-color);
}

.workers-item .title-item {
  margin-bottom: 10px;
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.workers-item .profession {
  margin-top: 0;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* футер */
.page-footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts-footer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contacts-footer .item:not(:last-child){
  margin-bottom: 9px;
}

.contacts-footer .link {
  color: var(--footer-contacts-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contacts-footer .place {
  color: var(--background-color);
  text-decoration: none;
}

/* Сторінка ПОРТФОЛІО */

/* фільтр */
.filter.list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child){
  margin-right: 8px;
}

.main-title.work{
  color: var(--title-text-color);
  margin-bottom: 0;

  display: none;
}
.filter {
  list-style: none;
}
.button-filter {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--section-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.button-filter:hover,
.button-filter:focus,
.button-filter.current {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* роботи */
  .example.list{
    display: flex;
    flex-wrap: wrap;
  }

  .example-item{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;    
  }

  .example-item:nth-child(3n){
    margin-right: 0;
  }

  .example-item:nth-last-child(-n + 3){
    margin-bottom: 0;
  }

  .text{
    background-color: var(--background-color);
    padding: 20px 24px;

    border-bottom: 1px solid var(--boder-color-portfolio);
    border-left: 1px solid var(--boder-color-portfolio);
    border-right: 1px solid var(--boder-color-portfolio);
  }

  .example-text{
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;}


.work-title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  



